#sidebar
{
height: 100%;
min-height: 100vh;
background: #f4f4f4;
color: #656565eb;
border-radius: 0.2em;
position: relative;

  nav
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-top: 0.5em;
    width: 100%;
  }
}

.sideoptions
{
   padding: 0.5em;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;    
}

.sideoptions > ul
{
    list-style: none;
    margin: 0 !important;
    padding: 0.5em;
    width: 100%;
  li
  {
    margin-bottom: 1em;
    padding-left: 0.8em;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    color: #656565eb !important;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    a
    {
      color: #656565eb !important;
      &:hover
      {
        color: #3636b3 !important;
      }
    }

    &::before
    {
      position: absolute;
      content: "";
      width: 4px;
      height: 100%;
      background: #3636b3;
      left: -8px;
      border-radius: 0.2em;
      display: none;

    }

    &:hover
    {
      color: #3636b3 !important;
      font-weight: bold;
      transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1);

      &::before
      {
        display: block;
        transition: display 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }
  }
}

.sideoptions > #settings
{
    width: 100%;
    padding: 0.5em;
}

#settings
{
   display: flex;
   font-size: inherit;
}

.upper
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
}
.lower
{
 position: absolute;
 width: 100%;
 bottom: 0;
 overflow: hidden;
}
