@import "../../../app.global.scss";

#dashboard
{
  width: 100%;
  height: 100%;
  background: white;
  padding: 3%;
  margin: 0 auto;
  overflow-y: auto;
  .upper-search
  {
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-gap: 1em;
    justify-content: flex-start;
    align-items: center;

    .notification-container
    {
      @include AlignCenterRight;

      .user-avatar-container
      {
        @include AlignCenter;
        text-align: right;
        padding: 0.1em;
        .user-details
        {
          margin-right: 0.6em;
          #name
          {
            font-weight: bold;
            font-size: 13px;
          }
          #designation
          {
            font-size: 12px;
          }

        }
        .user-pic
        {

        }
      }

    }
  }

  .dropdown-container
  {
    display: grid;
    width: 100%;
    padding: 0.2em;
    margin-top: 0.8em;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 0.3em;
    font-weight: bold;
    font-size: 14px;
    color:grey;
   #dropdown-item-one
   {
     @include AlignCenterLeft;
   }
   #dropdown-item-two,#dropdown-item-three
   {
     @include AlignCenterRight;
   }

    #dropdown-item-two
    {
      label
      {
        padding-left: 1em;
      }

    }
  }

}