@mixin AlignCenter
{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin AlignCenterRight
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin AlignCenterLeft
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}